/.target
/.project
/.classpath
logs
project/project
project/target
target
/.settings
logs
/bin


project/target/resolution-cache/default/surferpedia-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.properties

project/target/resolution-cache/default/surferpedia-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.properties

project/target/resolution-cache/default/surferpedia-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.properties

project/target/resolution-cache/default/surferpedia-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.xml

project/target/resolution-cache/reports/default-surferpedia-build-compile-internal.xml

project/target/resolution-cache/reports/default-surferpedia-build-compile.xml

project/target/resolution-cache/reports/default-surferpedia-build-docs.xml

project/target/resolution-cache/reports/default-surferpedia-build-optional.xml

project/target/resolution-cache/reports/default-surferpedia-build-plugin.xml

project/target/resolution-cache/reports/default-surferpedia-build-pom.xml

project/target/resolution-cache/reports/default-surferpedia-build-pom.xml

project/target/resolution-cache/reports/default-surferpedia-build-runtime-internal.xml

project/target/resolution-cache/reports/default-surferpedia-build-provided.xml

project/target/resolution-cache/reports/default-surferpedia-build-runtime.xml

project/target/resolution-cache/reports/default-surferpedia-build-scala-tool.xml

project/target/resolution-cache/reports/default-surferpedia-build-test-internal.xml

project/target/resolution-cache/reports/default-surferpedia-build-sources.xml

project/target/resolution-cache/reports/default-surferpedia-build-test.xml

project/target/streams/$global/update/$global/inputs

project/target/streams/$global/ivyConfiguration/$global/out

project/target/streams/$global/ivyConfiguration/$global/out

project/target/streams/$global/update/$global/out

project/target/streams/$global/update/$global/output

project/target/streams/$global/update/$global/output

project/target/streams/compile/dependencyClasspath/$global/export

project/target/streams/compile/exportedProducts/$global/export

project/target/streams/compile/externalDependencyClasspath/$global/export

project/target/streams/compile/managedClasspath/$global/export

project/target/streams/runtime/dependencyClasspath/$global/export

project/target/streams/runtime/exportedProducts/$global/export

project/target/streams/runtime/externalDependencyClasspath/$global/export

project/target/streams/runtime/fullClasspath/$global/export

project/target/streams/runtime/internalDependencyClasspath/$global/export

project/target/streams/runtime/internalDependencyClasspath/$global/export

project/target/streams/runtime/managedClasspath/$global/export
