.header {
	background-image:url('../images/header.jpg');
	height: 200px;
	background-size: cover;
	background-repeat: none;
}

.carousel-1 {
	background-image:url('../images/ho.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
}

.carousel-2 {
  background-image:url('../images/malia.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

.carousel-3 {
  background-image:url('../images/groms.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}