.header {
	background-image:url('../images/header.jpg');
	height: 200px;
	background-size: cover;
	background-repeat: none;
}

.carousel-1 {
	background-image:url('../images/ho.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
}

.carousel-2 {
  background-image:url('../images/malia.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

.carousel-3 {
  background-image:url('../images/groms.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.carousel-4 {
  background: url('../images/Joyce_Hoffman.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.carousel-5 {
  background: url("../images/KeliaMoniz.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.joyce-img2 {
  background: url('../images/Joyce_Hoffman.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.keliamoniz {
  background: url("../images/KeliaMoniz.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.kolohe-andino {
  background: url("../images/KoloheAndino_02.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}