@(updates: List[Update], isLoggedIn: Boolean, userInfo: UserInfo) 

@Main("Surferpedia", SurferDB.getMaleSurfers(), SurferDB.getFemaleSurfers(),
SurferDB.getGromSurfers(), isLoggedIn, userInfo) {
<div class="container" style="padding-bottom: 100px;">
  <h2>Change Log</h2>
  <table class="table table-bordered">
    <tr>
      <th>Date</th>
      <th>Change Type</th>
      <th>Target</th>
    </tr> 
      @for(update <- updates) { 
        <tr>
          <td>@update.getDate()</td>          
          <td>@update.getType()</td>          
          <td>@update.getTarget()</td>
        </tr>
      }
  </table>
</div>
}
