@Main("Imaikalani DeVault") {
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <div class="devault"></div>
      </div>
    </div>
    <div class="well col-md-8">
      <h3>Imaikalani DeVault</h3>
      <p>The Valley Isle's Imaikalani DeValult is yet another contender from Maui poised to break onto the world
        stage. Like so many of the other Maui boys that came before him, Imai's stomping grounds are the rippable peaks
        of Ho'okipa. Above the lip, he's on the same level as many of his peers and his style is downright buttery.
        Although he's had some solid results in the past, for Imaikalani to further his career to the next level, he'll
        need to make another hard push on the contest scene next year. Lucky for him, he's got Volcom's esteemed coach,
        Dave Riddle, in his corner lighting the path ahead.</p>
    </div>
  </div>
</div>
}
