@(surfers: List[Surfer], isLoggedIn: Boolean, userInfo: UserInfo) 

@Main("Surferpedia", SurferDB.getMaleSurfers(), SurferDB.getFemaleSurfers(),
SurferDB.getGromSurfers(), isLoggedIn, userInfo) {
<div class="container" style="padding-bottom:100px;">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      @for((surfer, index) <- surfers.zipWithIndex) {
        @if(index == 0) {
      <li data-target="#carousel-example-generic" data-slide-to="@index" class="active"></li>
      } else {
      <li data-target="#carousel-example-generic" data-slide-to="@index"></li>
      }
      }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="background-color:white;">
      @for((surfer, index) <- surfers.zipWithIndex) { 
      @if(index == 0) {
            <div class="item active">
              <div style="background-image: url('@surfer.getCarouselURL()'); 
                         height:400px;
                         width: 100%;
                         background-repeat: none;
                         bacgrkound-position: center;
                         background-size: cover;"></div>
              <div class="carousel-caption"><h3>@surfer.getName()</h3></div>
            </div>
      } else {
            <div class="item">
              <div style="background-image: url('@surfer.getCarouselURL()'); 
                         height:400px;
                         width: 100%;
                         background-repeat: none;
                         bacgrkound-position: center;
                         background-size: cover;"></div>
              <div class="carousel-caption"><h3>@surfer.getName()</h3></div>
            </div>    
      }
    }
</div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="icon-prev"></span>
    </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="icon-next"></span>
    </a>
  </div>
</div>
}
