@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, loginForm: Form[views.formdata.LoginFormData])

@import bootstrap3._

@Main("Login", SurferDB.getMaleSurfers(), SurferDB.getFemaleSurfers(),
SurferDB.getGromSurfers(), isLoggedIn, userInfo) {
   <div class="container">
     @loginform(routes.Application.postLogin(), loginForm("email"), loginForm("password"))
   </div>
   
   @if(!models.UserInfoDB.adminDefined()) {
   <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-danger"><p style="text-align:center;"><b>Warning</b>: Admin credentials not defined!!!</p></div>
     </div>
   </div>
   }
}
