@(message: String) @Main("Malia Manuel") {
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <div class="malia"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <h3>Malia Manuel</h3>
        <p>Malia Manuel hasn't been a surfer for that long. Let's be honest, surfer Malia Manuel hasn't been a kid
          for too long. At 14, Malia is the new Women's Honda U.S. Open of Surfing presented by O'Neill champion. Malia
          was part of the youngest women's final at the Women's Honda U.S. Open of Surfing presented by O'Neill in
          Huntington Beach and took top prize winning with a two-wave score of 14.34 points. Malia was surprised by her
          string of upsets and overall victory since it was her first open and her first ever 2-person surfing heat.</p>
      </div>
    </div>
  </div>
</div>
}
