@(message: String) @Main("Malia Manuel") {
<div class="container">
  <div class="col-md-4">
  <div class="carousel-2"></div>
  </div>
  <div class="col-md-8">
<p>Surfing has been ingrained in Malia’s blood since she was born. As a baby, her parents would take turns watching her on the sand while the other would catch waves on the beaches of Kauai. As soon as she turned two, Malia started surfing with them. Born and raised in the small lush town of Wailua, Kauai. Malia has been highly influenced by her culture. Her father is born and raised on Kauai and part Hawaiian, her mother is from Southern California, making Malia “hapa haole”, she said laughing.</p>
<p>At the age of 8, she began surfing in contests and fell in love with the surfing industry. “I never planned on being a professional surfer, it kind of chose me”, says Malia. “I’ve been competing since I was 8 years old and to now be one of the 17 Women going for the World Title, seems pretty surreal still.”</p>
<p>Aside from surfing, Malia artistically paints her own surf boards with a Hawaiian / Polynesian theme, inscribed somewhere in her paintings, is the word “KAUNU”. The word, which means “passion” in Hawaiian, embodies her happy-go-lucky spirit. She also is an avid yoga student and runner. Whether it’s hiking in the mountains, going to yoga, running, Malia is the true spirit of island aloha and grace. It’s rare to see her without a smile on her face or doing something other than creating beauty through her art, sport activities, or surfing.</p>
<p>Growing up in Hawaii, she has been highly influenced by the many famous Kauai boys, making her style progressive and fluid, yet incredibly graceful and poised. At 14, Malia is the youngest ever female or male to win the US Open of Surfing (2008), amongst other accomplishments.</p>
<p>Malia is filled with a stoked passion, striking good looks, and all the natural talent to be best surfer in the world. While she loves competing, she is going to do it at her own pace, with a huge smile on her face and with the grace of a Hawaiian dancer.</p>
</div>
</div>
}
