@(slug: String) @Main(SurferDB.getSurfer(slug).getName(), SurferDB.getMaleSurfers(), SurferDB.getFemaleSurfers(),
SurferDB.getGromSurfers()) {

<div class="container" style="padding-bottom: 100px;">
  <div class="row">
    <div class="col-md-4">
      <div class="well" style="height: 400px">
        <img src="@SurferDB.getSurfer(slug).getBioURL()"
          style="height: 100%; width: 100%; background-size: cover; background-position: center;">
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <h3>@SurferDB.getSurfer(slug).getName()</h3>
        <p>
          <b>Home Town:</b> @SurferDB.getSurfer(slug).getHome()
        </p>
        <p>
          <b>Awards:</b> @SurferDB.getSurfer(slug).getAwards()
        </p>
        <p>
          <b>Biography:</b> @SurferDB.getSurfer(slug).getBio()
        <div class="row">
          <div class="col-md-4">
            <a href="/surfer/@slug/edit"><button type="button" class="btn btn-primary">Edit</button></a>
          </div>
          <div class="col-md-offset-4 col-md-4">


            <!-- Button trigger modal -->
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-md" style="float: right">Delete</a>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Delete</h4>
                  </div>
                  <div class="modal-body">Delete this entry? This action cannot be reversed.</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="/surfer/@slug/delete"><button type="button" class="btn btn-primary" input-align="right">Delete</button></a>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          </div>
        </div>
      </div>




    </div>

  </div>
</div>
}
